.generalBtnStyles {
  cursor: pointer;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  border-radius: 10px;
  padding: 8px 15px;
}
.deleteBtn {
  background-color: crimson;
}
.doneBtn {
  background-color: green;
}
.cancelBtn {
  background-color: rgb(236, 210, 79);
}
